<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>동아리 게시판</title>
   <link rel="stylesheet" href="/style.css" />
   <link rel="stylesheet" href="/myClubPostMain.css" />
   <!-- axios CDN -->
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
   <%- include('../component/header')%>
      <a href="/myclubNewPost/:club_id" id="plus-button" class="plus-button">+</a>





      <!-- 게시물 목록 -->
      <div class="list">
         <% for(let i=0; i<data.length;i++){ %>
            <div class="list" onclick="showDetail(event)">
               <div class="list-title">
                  <%= data[i].title%>
               </div>
               <div class="list-content">
                  <%=data[i].content%>
               </div>
            </div>
            <% } %>
               <!-- 게시물들이 여기에 추가 -->
      </div>
      <script>

         function showDetail(event) {
            console.log(event.target);
            // Check if the clicked element has the class "list-title"
            if (event.target.classList.contains('list')) {
               // Get the text content of the clicked "list-title" div
               const club_id = event.target.textContent;

               // Log the text content to the console
               console.log(club_id);
               window.location.href = "/myclubPostDetail/1/45";
               // window.location.href = `/myclubPostDetail/${club_id}:${post_id}`;
            }
         }




      </script>
</body>

</html>