<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style.css">
   <title>하이스쿨 - 동아리 채팅</title>
</head>

<body>
   <%- include('../component/header')%>
   <div class="container">
      <h1>동아리 채팅</h1>
   </div>
   
</body>

</html>