/* 전체 페이지 스타일 */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
/* 헤더바 */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu-icon,
.settings-icon {
  cursor: pointer;
}

.logo {
  text-align: center;
}

/* 헤더바 */

/* 내용 스타일 */
.content {
  padding: 20px;
  margin-top: 60px; /* 헤더 바 아래로 내용이 시작되도록 설정 */
}

.content-title {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.content-detail {
  font-size: 1em;
  color: #666;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.content .link {
  color: #1a0dab; /* 클래식한 링크 색상 */
  cursor: pointer;
  text-decoration: underline;
  margin: 10px 0;
}

/* 버튼 컨테이너 스타일 */
.buttons {
  display: flex;
  justify-content: space-around; /* 버튼 간의 간격을 동일하게 조정 */
  margin-top: 20px; /* 위의 내용과 버튼 사이의 여백 */
}

/* 버튼 스타일 */
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s; /* 버튼 배경색 변화 효과 */
}

.button.reject {
  background-color: #ccc; /* 거절 버튼 색상 */
  color: #333;
}

.button.approve {
  background-color: #007bff; /* 승인 버튼 색상 */
  color: white;
}

.button:hover {
  opacity: 0.9; /* 마우스 오버 시 버튼의 투명도 변경 */
}
