.search-container {
  width: 50%;
  padding: 20px;
  border-radius: 50px;
}

.label {
  color: #aaa;
  font-size: 15px;
  margin-bottom: 11p
}

.search-bar {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.search-icon {
  padding-right: 15px;
  color: #aaa;
  font-size: 1.5em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-option {
  background-color: white;
  border: none;
  outline: none;
  padding: 10px 30px;
  margin-right: 25px;
  color: #aaa;
  font-size: 15px;
  margin-bottom: 11px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-bar-option {
  max-width: 50%;

  text-align: center;
}

.search-option-container {
  width: 100%;
  padding: 20px;
}

.hashtags {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.hashtag {
  margin: 5px;
  padding: 5px 10px;
  background-color: #ddd;
  border-radius: 20px;
  cursor: pointer;
}

.list {
  display: flex;
  width: 312px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  border-radius: 4px;
  border: 1px solid var(--color-border-list);

  /* default_shadow */
  box-shadow: 0px 1px 8px 0px var(--color-border-shadow);
}
.list-title {
  font-size: var(--spacing-1);
  color: var(--color-font-list-1);
}
.list-content {
  font-size: var(--spacing-2);
  color: var(--color-font-list-2);
}
.list-additional {
  display: flex;
  width: 360px;
  padding: 16px 24px;
  align-items: center;
  gap: 16px;

  border-bottom: 1px solid var(--color-border-list);
}
.list-additional-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1 0 0;
}
.list-additional-title {
  align-self: stretch;
  font-size: var(--spacing-1);
  color: var(--color-font-list-1);
}
.list-additional-content {
  align-self: stretch;
  font-size: var(--spacing-2);
  color: var(--color-font-list-2);
}
.additional-info {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #6b7280;
}
