/* 헤더 스타일 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-icon,
.settings-icon {
  cursor: pointer;
  font-size: 24px;
}

.logo {
  font-size: 1.5em;
  color: #333;
}

/* 본문 스타일 */
.content {
  padding: 20px;
  background-color: #f0f0f0;
}

.content:first-of-type {
  margin-top: 100px; /* 헤더 바 아래로 첫 번째 content 박스가 시작되도록 설정 */
}

.card {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 15px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card p {
  margin: 0;
  padding-bottom: 8px;
  font-size: 1em;
  color: #333;
}

.member-name {
  font-weight: bold;
}

.join-date {
  color: #666;
  font-size: 0.9em;
}

.back-arrow {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  left: 10px;
}
