<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found</title>
  <link rel="stylesheet" href="/style.css" />
  
</head>
<body>
  <div class="container">
    <%- include('./component/header')%>
    <h1>페이지를 찾을 수 없습니다</h1>
    <a href="/home">홈으로 이동</a>
  </div>
</body>
</html>