<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅목록</title>
</head>
<body>
  
    
    <h2>DM 목록</h2>
    <% for( let i = 0; i < ClubChat.length; i++ ) { %>
        <div class="list" onclick="showChat()">
            <div class="list-title"><%=findMyChat%></div>
            <div class="list-content">채팅방 바로 가기</div>
        </div>
    
    <% } %>
    <script>
        function showChat(){
            window.location.href='?'

        }

    </script>
</body>

</html>