<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>동아리 개설</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/createClub.css">
</head>

<body>
    <%- include('./component/header')%>

  <main class="create-club">
    <form class="create-club-form">
      <label for="club-name">동아리 이름</label>
      <input type="text" id="club-name" placeholder="과학 동아리" required>

      <label for="category">분야</label>
      <input type="text" id="category" placeholder="과학" required>

      <label for="member-limit">인원 제한</label>
      <input type="number" id="member-limit" placeholder="50" required>

      <label for="keywords">키워드</label>
      <input type="text" id="keywords" placeholder="과학, 로봇" required>

      <label for="location">활동 지역</label>
      <div class="location-input">
        <input type="text" id="city" placeholder="서울시" required>
        <input type="text" id="district" placeholder="마포구" required>
      </div>

      <button type="submit" class="btn-create">동아리 만들기</button>
    </form>
  </main>
</body>

</html>