<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>하이스쿨</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      .mainLogo {
        text-align: center;
        margin: 0 auto;
        transform: translate(-10px);
      }

      .container {
        height: calc(100vh - 300px);
      }
    </style>
  </head>

  <body>
    <div class="container">
      <img src="/icons/hischool_logo.svg" alt="" width="160" class="mainLogo"> 



      <div class="cta">
        <a href="/register" class="btn btn-secondary">회원가입</a>
        <a href="/login" class="btn btn-primary">로그인</a>
      </div>
    </div>


  </body>
</html>
