<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>하이스쿨</title>
   <link rel="stylesheet" href="/style.css">
</head>

<body>
   <%- include('./component/header')%>
      <h1>하이</h1>
      <div></div>
      <button class="btn-primary">하이</button>
      <button class="btn-primary">하이</button>
      <button class="btn-primary">하이</button>
      <button class="btn-primary">하이</button>
      <button class="btn-primary">하이</button>
      <button class="btn-primary">하이</button>
      <br>
      <a href="./clubSchedule">달력테스트버튼</a>
      <br>
      <a href="/home">홈 화면으로 이동</a>
      <a href="./myClubPostMain">동아리게시판</a>
</body>

</html>