<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>하이스쿨 - 로그인</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      .logo {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        height: 100px;
        line-height: 100px;
        color: var(--color-primary-500);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="logo">하이스쿨</h1>
      <form name="login">
        <div class="input">
          <label for="userid">아이디</label>
          <input type="text" id="userid" class="textField" />
        </div>
        <div class="input">
          <label for="password">비밀번호</label>
          <input type="password" id="password" class="textField" />
        </div>
      </form>

      <div class="cta">
        <button type="button" class="btn btn-primary" onclick="handleLogin()">
          로그인
        </button>
      </div>
    </div>

    <script>
      feather.replace();
    </script>

    <script>

      const form = document.forms['login']

      async function handleLogin() {
        try {
          const result = axios({
            method: "POST",
            url: "/auth/login",
            data: {
              userid: form.userid.value,
              password: form.password.value,
            },
          }).then((result) => {
            console.log(result);
          });
        } catch (err) {
          console.log(err);
        }
      }
    </script>
  </body>
</html>
