<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/clubAdminApplyDetail.css">
</head>



<body>
  <%- include('../component/header')%>
    <div class="content">
      <p class="content-title">이름</p>
      <p class="content-detail">홍길동</p>

      <p class="content-title">지원동기</p>
      <p class="content-detail">열심히 할게요</p>

      <p class="content-title">자기소개</p>
      <p class="content-detail">열심히 하게요</p>

      <div class="link">프로필 보기</div>

      <div class="buttons">
        <button class="btn reject">거절</button>
        <button class="btn btn-primary">승인</button>
      </div>
    </div>
</body>

</html>

</body>

</html>