<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>가입 요청</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/clubAdminApplyList.css">
</head>

<body>
  <%- include('../component/header')%>

 
</body>

</html>