<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 목록</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/clubAdminMemberList.css">
  <style>

  </style>
</head>




<body>
   <%- include('../component/header')%>
  <div class="content">
    <!-- 회원 카드 목록 -->
    <div class="card">
      <p class="member-name">회원</p>
      <p class="join-date">가입일 : 2023년 12월 12일</p>
    </div>
    <!-- 추가 회원 카드 반복 -->
  </div>
  <div class="content">
    <!-- 회원 카드 목록 -->
    <div class="card">
      <p class="member-name">회원</p>
      <p class="join-date">가입일 : 2023년 12월 12일</p>
    </div>
    <!-- 추가 회원 카드 반복 -->
  </div>
  <div class="content">
    <!-- 회원 카드 목록 -->
    <div class="card">
      <p class="member-name">회원</p>
      <p class="join-date">가입일 : 2023년 12월 12일</p>
    </div>
    <!-- 추가 회원 카드 반복 -->
  </div>

  <button>위임하기</button>
</body>

</html>