<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
    <!-- feather-icons CDN -->
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <header class="header">
    <nav class="navbar">
      <h1 class="menu-icon">
        <i data-feather="menu"></i></h1>
      <h1 class="logo">홈</h1>
      <h1 class="settings-icon">
        <i data-feather="settings"></i></h1>
    </nav>
  </header>

  <script>
    feather.replace();
  </script>
</body>
</html>