<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>과학 동아리</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/clubApply.css">
</head>

<body>
    <%- include('../component/header')%>

<div class="club-name"> 가입 신청하기</div>
  <form name="clubApplyform" onsubmit="clubApply(event)">
    <section class="post-section">
      <h2>지원동기</h2>
      <textarea id="motivation" placeholder="플레이스홀더"></textarea>
    </section>

    <section class="post-section">
      <h2>자기소개</h2>
      <textarea id="introduction" placeholder="플레이스홀더"></textarea>
    </section>

    <button type="submit" class="btn-submit" onclick="clubRegister()">가입 신청</button>
  </form>
  <script>
    async function clubApply(event) {
        event.preventDefault();

        const clubApplyForm = document.forms["clubApplyform"];
        console.log(clubApplyForm);

        let motivation = createClubForm.elements["motivation"].value;

        let introduction = createClubForm.elements["introduction"].value;
        
        
        // 유효성 검사
        

        try {
          const res = await axios({
            method: "POST",
            url: "/clubApply/<%=data.club_id%>",
            data: {
              motivation:motivation,
              introduction:introduction
            },
          });
          console.log(res);
          if(res=='isapplySuccess'){
            alert('가입 신청이 완료되었습니다.');
            widow.location.href='/home'
          }
          else{
            alert('가입 신청이 되지 않았습니다. 다시 신청해주세요');
          }
        } catch (error) {
          console.log("createClub 에서 axios error > ", error);
        }
      }
  </script>
</body>

</html>