<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style.css">
   <!-- axios CDN -->
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <title>하이스쿨 - 게시글 작성</title>
   <style>
      #secret{
         border: 1px solid black;
      }
   </style>
</head>

<body>
   <%- include('../component/header') %>
   <div class="container">
      <!-- 글쓰기 폼 -->
      <form id="support-form" name="support-post">
         <label for="secret"><input value="secret"  type="checkbox" id="secret" checked>비밀글</label>
         <textarea id="support-content" name="content" placeholder="내용을 입력하세요"></textarea>
         <button type="button" class="btn-primary" onclick="addsupport()">
            등록하기
         </button>
      </form>
   </div>

   <script>
      const form = document.forms["support-post"];


      function addsupport() {
         axios({
            method: "POST",
            url: `/supportMain`,
            data: {
               content: form.content.value,
            },
         })
            .then((res) => {
               console.log(res.data);
               if (res.status === 200) {
                  alert("등록완료");

                  window.location.href = `/supportMain`;
               }
            });
      }
   </script>
</body>

</html>