/* 전체 페이지 스타일 */
/* 헤더바 */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.list {
  display: flex;
  padding: 15px 0px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  /* default_shadow */
  box-shadow: 0px 1px 8px 0px rgba(19, 19, 19, 0.1);
}

.dateInput-title,
.dateInput-content {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.list-title {
  padding: 0px 15px;
  font-size: var(--spacing-2);
  color: var(--color-gray-600);
}

.list-content {
  padding: 0px 15px;
  font-size: var(--spacing-3);
  color: var(--color-gray-400);
}

/* 전체 화면 모달 스타일 */
.fullscreen-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fullscreen-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu-icon,
.settings-icon {
  cursor: pointer;
}

.logo {
  text-align: center;
}

.sec_cal {
  width: 100%;
  margin: 0 auto;
  font-family: 'NotoSansR';
}

.sec_cal .cal_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 78px;
  margin-top: 15px;
}

.sec_cal .cal_nav .year-month {
  width: 300px;
  text-align: center;
  line-height: 1;
}

.sec_cal .cal_nav .nav {
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
  display: block;
  width: 50px;
  height: 78px;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #000;
  border-width: 3px 3px 0 0;
  transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
  border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
  transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
  transform: rotate(45deg);
}

.sec_cal .cal_wrap {
  padding-top: 20px;
  position: relative;
  margin: 0 auto;
}

.sec_cal .cal_wrap .days {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
  top: 368px;
}

.sec_cal .cal_wrap .day {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7.1);
  text-align: left;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.current.today {
  background: #5196ef;
  color: whitesmoke;
}

.sec_cal .cal_wrap .dates {
  display: flex;
  flex-flow: wrap;
  height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
  color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
  color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
  color: #ddd;
}

.databox {
  padding-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1 0 0;
}

/* 날짜 클릭시 내용 디자인 칸 */
.title,
.content {
  width: 100%;
  padding: 1vh 3vw;
  margin: 0px;
}

.selected {
  border-width: 0.1px; /* 테두리 두께 */
  border-style: solid; /* 테두리 스타일 */
  border-color: blue; /* 테두리 색상 */
}

.icon {
  position: absolute;
  top: 14px; /* 아이콘을 날짜 위로 위치시킵니다 */
  left: 50%; /* 아이콘을 가로 중앙에 위치시킵니다 */
  transform: translateX(-50%); /* 아이콘을 완벽하게 가운데 정렬합니다 */
  width: 5px;
  height: 5px;
  background-color: blue;
  border-radius: 50%;
}

.schdules-box {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  overflow-y: overlay;
  padding: 0px;
}

.schedules-box::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

.schedules-box::-webkit-scrollbar-track {
  background: transparent; /* 트랙의 배경을 투명하게 설정 */
}

.schedules-box::-webkit-scrollbar-thumb {
  background: #888; /* 썸의 배경색, 필요에 따라 조정 */
}

.btn {
  display: block; /* 버튼을 블록 레벨 요소로 만듭니다 */
  width: 100px; /* 원하는 너비를 설정하세요 */
  margin: 0 auto; /* 위 아래 마진은 0, 좌우 마진은 자동으로 설정하여 가운데 정렬합니다 */
  transition: all 0.5s;
}

#closeBtn {
  display: none;
}

.list-additional {
  display: none; /* 기본적으로 숨김 */
  gap: 16px;
  /* 필요한 다른 그리드 스타일 */
}

.list-additional-main {
  display: grid;
  grid-template-columns: 1fr auto; /* 첫 번째 열은 가능한 모든 공간을 차지하고, 두 번째 열은 내용에 맞게 크기가 결정됩니다 */
  align-items: center;
  gap: 6px;
}

.list-additional-title,
.list-additional-content {
  grid-column: 1 / 2; /* 첫 번째 열에 위치 */
}

.additional-info {
  grid-column: 2 / 3; /* 두 번째 열에 위치 */
  justify-self: end; /* 내용을 오른쪽으로 정렬 */
  padding-right: 20px; /* 오른쪽 패딩 추가 */
}

.list-additional-title {
  align-self: stretch;
  font-size: var(--spacing-2);
  color: var(--color-gray-600);
}
.list-additional-content {
  align-self: stretch;
  font-size: 14px;
  color: var(--color-gray-400);
}
.additional-info {
  font-size: var(--spacing-3);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #6b7280;
  padding: 0 20px;
}
