body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  /* 헤더바 */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
  }
  
  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .menu-icon,
  .settings-icon {
    cursor: pointer;
  }
  
  .logo {
    text-align: center;
  }
  
  /* 헤더바 */
  
  /* 동아리 개설 폼 스타일 */
  .create-club {
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .create-club-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .create-club-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .create-club-form input[type='text'],
  .create-club-form input[type='number'] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .location-input {
    display: flex;
    gap: 10px;
  }
  
  .location-input input {
    flex: 1;
  }
  
  .btn-create {
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-create:hover {
    background-color: #0056b3;
  }
  