body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee;
  }
  /* 헤더바 */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
  }
  
  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .menu-icon,
  .settings-icon {
    cursor: pointer;
  }
  
  .logo {
    text-align: center;
  }
  
  /* 헤더바 */
  .content {
    padding: 10px;
  }
  
  .card {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card-item {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .content {
      padding: 5px;
    }
  
    .card-item {
      padding: 8px;
    }
  }
  