:root {
   --spacing-1: 12px;
   
   --spacing-2: 16px;
   --spacing-3: 14px;

   --color-gray-50: #F9FAFB;
   --color-gray-100: #F3F4F6;
   --color-gray-200: #E5E7EB;
   --color-gray-300: #D1D5DB;
   --color-gray-400: #9CA3AF;
   --color-gray-500: #6B7280;
   --color-gray-600: #4B5563;
   --color-gray-700: #374151;
   --color-gray-800: #1F2937;
   --color-gray-900: #111827;
   --color-gray-950: #030712;

   --color-primary-50: #eff6ff;
   --color-primary-100: #dbeafe;
   --color-primary-200: #bfdbfe;
   --color-primary-300: #93c5fd;
   --color-primary-400: #60a5fa;
   --color-primary-500: #3b82f6;
   --color-primary-600: #2563eb;
   --color-primary-700: #1d4ed8;
   --color-primary-800: #1e40af;
   --color-primary-900: #1e3a8a;
   --color-primary-950: #172554;

   --color-red-50: #fef2f2;
   --color-red-100: #fee2e2;
   --color-red-200: #fecaca;
   --color-red-300: #fca5a5;
   --color-red-400: #f87171;
   --color-red-500: #ef4444;
   --color-red-600: #dc2626;
   --color-red-700: #b91c1c;
   --color-red-800: #991b1b;
   --color-red-900: #7f1d1d;
   --color-red-950: #450a0a;
   
}


body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.btn-primary {
   padding: var(--spacing-1) var(--spacing-2);
   background-color: var(--color-primary-600);
   color: white;
   border: none;
   border-radius: 8px;
}
/* 헤더 CSS */
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   background-color: #fff;
 }
 
 .navbar {
   display: flex;
   width: 100%;
   justify-content: space-between;
 }
 
 .menu-icon,
 .settings-icon {
   cursor: pointer;
 }
